    /* make prefix class for icon to stick on the right side of input field */
    .input-field .prefix.right{
        right: 0;
    }

    .search-button:hover{
        color : violet !important;
    }

    .teamname{
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        height: 100%;
    }

    .team-entry:hover{
        background-color : violet !important;
    }

    .titleText{
        font-weight: bold;
        text-align:center;
    }